{% extends "base.html.twig" %}

{% block favicon %}
    {% if section == 'nfl' %}
        <link rel="shortcut icon" href="football.ico?v1" />
    {% elseif section == 'nba' %}
        <link rel="shortcut icon" href="basketball.ico?v1" />
    {% else %}
        <link rel="shortcut icon" href="hockey.ico?v1" />
    {% endif %}
{% endblock %}

{% block title %}
    {% if section == 'nfl' %}
        Football
    {% elseif section == 'nba' %}
        Basketball
    {% else %}
        Hockey
    {% endif %}
{% endblock %}

{% block body %}
    {% if liveGames.scoreboard.lastUpdatedOn is defined and liveGames.scoreboard.lastUpdatedOn is not empty %}
        {% set lastUpdatedLive = liveGames.scoreboard.lastUpdatedOn|date('d.m.Y G:i') %}
    {% else %}
        {% set lastUpdatedLive = 'Unknown' %}
    {% endif %}
    {% if upcomingGames.fullgameschedule.lastUpdatedOn is defined and upcomingGames.fullgameschedule.lastUpdatedOn is not empty %}
        {% set lastUpdatedUpcoming = upcomingGames.fullgameschedule.lastUpdatedOn|date('d.m.Y G:i') %}
    {% else %}
        {% set lastUpdatedUpcoming = 'Unknown' %}
    {% endif %}
    <div class="row mt-5 d-flex justify-content-between no-padding-container">
        <ul class="list-group">
            <li class="list-group-item h5 bg-primary text-white">
                <div class="row">
                    <div class="col-8">Upcoming games</div>
                    <div class="col-4 last_updated">
                        <div>Last update:</div>
                        <div>{{ lastUpdatedUpcoming }}</div>
                    </div>
                </div>
            </li>
            {% if upcomingGames.fullgameschedule.gameentry is defined and upcomingGames.fullgameschedule.gameentry is not empty %}
                {% for match in upcomingGames.fullgameschedule.gameentry %}
                    {% set gameStartTime = match.date ~ ' ' ~ match.time %}
                    <li class="list-group-item">
                        <div class="row match">
                            <div class="col-3 text-center">{{ match.homeTeam.Name }}</div>
                            <div class="col-1 text-center">-</div>
                            <div class="col-3 text-center">{{ match.awayTeam.Name }}</div>
                            <div class="col-5 text-center">{{ gameStartTime|date('d.m.Y G:i') }}</div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">No games found</li>
            {% endif %}
        </ul>
        {% if authenticated %}
            <ul class="list-group">
                <li class="list-group-item h5 bg-info text-white">
                    <div class="row">
                        <div class="col-8">Live games</div>
                        <div class="col-4 last_updated">
                            <div>Last update:</div>
                            <div>{{ lastUpdatedLive }}</div>
                        </div>
                    </div>
                </li>
                {% if liveGames.scoreboard.gameScore is defined and liveGames.scoreboard.gameScore is not empty %}
                    {% for match in liveGames.scoreboard.gameScore %}
                        {% set gameStartTime = match.game.time %}
                        {% set gameTime = date().diff(date(gameStartTime)).format('%H:%i') %}
                        <li class="list-group-item">
                            <div class="row match">
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-9 text-center">{{ match.game.homeTeam.Name }}</div>
                                        <div class="col-3 text-center">{{ match.homeScore }}</div>
                                    </div>
                                </div>
                                <div class="col-1 text-center">-</div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-3 text-center">{{ match.awayScore }}</div>
                                        <div class="col-9 text-center">{{ match.game.awayTeam.Name }}</div>
                                    </div>
                                </div>
                                <div class="col-3 text-center">{{ gameTime }}</div>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">No games found</li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}